.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    margin: 10px;
}

.profile {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
}

.profile-header {
    font-size: 2em;
    margin: 10px;
}